# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native build outputs
android/
ios/

# EAS
.eas/

# Build artifacts
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS
.DS_Store
.DS_Store?
._*
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Test
coverage/

# TypeScript
*.tsbuildinfo

# Custom Keystore Files
*.keystore
*.jks
*.p12
